$light-black: #3F3E46;
$middle-gray: #AEAFB0;
$light-gray:  #FAFAFA;
$main-green:  #77DD77;

$main-blue-100: #e3f2ff;
$main-blue-200: #abd8fe;
$main-blue-300: #73befe;
$main-blue-400: #3ba4fd;
$main-blue-500: #028bfd;
$main-blue-600: #026cc4;
$main-blue-700: #014d8c;
$main-blue-800: #012e54;
$main-blue-900: #01203a;
