<div class="flex flex-col justify-center items-center mb-48">
  <h1 class="text-2xl font-bold"> <span class="text-4xl text-blue-500">Day <%= @program.day_number(Time.zone.now)%></span></h1>
  <p class="my-0 text-center text-xl text-blue-500 font-bold"><%= Date.current.strftime('%B') %> <%= Date.current.day%><sup><%= %></sup></p>
</div>
