<h2>Le programme commencera le <%= @program.start.strftime('%a %d %b') %>
  dans <%= @program.day_number(Time.zone.now).abs %> jours</h2>
<p>préparez un paquet avec <%= @program.init_smoke %> cigarettes à l'intérieur </p>
