<div class="m-4">
  <div class="flex items-center">
    <%= link_to root_path do %>
    <svg class="w-6 h-6 text-gray-800"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /> </svg>
    <% end %>
    <h2 class="text-xl m-auto font-medium text-gray-600">Ravis de vous revoir</h2>
  </div>
<h1>smoker profile definition</h1>
<%= current_user.first_name %>
