<div class="m-4">
  <div class="text-center mt-16">
    <h2 class="text-xl m-auto font-medium text-gray-600">J'utilise l'application pour ...?</h2>
    <p class="text-sm font-light mt-8 text-gray-600">Séléctionner Arrêter de fumer si vous souhaitez utiliser l'application pour vous-même. Si vous souhaitez aider un ami à arrêter de fumer selectionner "devenir mentor".</p>
  </div>
  <div class="mt-4">
    <%= simple_form_for current_user, url: set_status_path(current_user), html: { method: :put } do |f| %>
      <%= f.input :user_status,
              as: :radio_buttons,
              label: "J'utilise l'application pour ...?",
              input_html: {class: 'tag-selector'},
              collection: ["Pour moi", "pour un ami"] %>

       <div class="mt-8 text-center">
         <%= f.submit "Se connecter", class:"text-white font-normal text-base no-underline bg-green-300 px-28 py-4 rounded-3xl" %>
       </div>
    <% end %>
  </div>
</div>
