#btn-home {
  margin-top: 14em;
  text-align: center;
}

.btn-gradient {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  padding: 2em 18em;
  border-radius: 1em;
}

.btn-large {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3em;
  text-decoration: none;
  padding: 0.5em 6em;
  border-radius: 1em;
}

.btn-blue {
  background-color: $main-blue-300;
  border: .1em solid $main-blue-300;
}

.btn-green {
  background-color: $main-green;
  border: .1em solid #77DD77;
}

.btn-fb-blue-up {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  text-decoration: none;
  padding: 1.4em 7.3em;
  border-radius: 2.5em;
  background-color: #395793;
  border: .1em solid #395793;
}

.btn-fb-blue-in {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.8em;
  text-decoration: none;
  padding: .6em 3em;
  border-radius: 1em;
  background-color: #395793;
  border: .1em solid #395793;
}

.btn-container {
  margin-top: 3em;
  text-align: center;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: $main-blue-300;
}

#previous-chevron {
  font-size: 4em;
  font-weight: thin;
  color: #636465;
}
