.btn-gradient {
  color: white;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  padding: 2em 18em;
  border-radius: 1em;
  background-color: $main-green;
  border: .1em solid #77DD77;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: $main-blue;
}
