.blue-square {
  background-color: $main-blue-300;
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0vh;

}
.dark-wave {
  position: absolute;
  background-color: $main-blue-300;
  width:100%;
  height: 100%;
  border-radius: 100%;
  bottom: 50%;
}
.txt-white {
  color:white;
  text-align: center;
  font-weight: 500;
  font-size: 3em;
  line-height: 1em;
  letter-spacing: .01em;

}

