@import "config/colors";
@import "config/fonts";

@import "components/index";

@import "devise/index";
@import "pages/index";

body {
  margin: 0em;
  padding: 0em;
  background-color: white;
}
.container {
  margin: 3em;
}
