@import "config/colors";
@import "config/fonts";
@import "components/buttons";
@import "components/logo";
@import "components/shapes";
@import "pages/index";

body {
  margin: 0em;
  padding: 0em;
  background-color: #FAFAFA;
}
