.field {
  margin-bottom: 8em;
  width: 100%;
}

.field-input  {
  font-family: 'Roboto', sans-serif;
  color: $light-black;
  border: none;
  width:100%;
  font-size: 2.8em;
  font-weight:400;
  padding-bottom: .5em;
  border-bottom: 1px solid $middle-gray;
}
.field-input:valid {
  border-bottom: 8px solid $main-green;
}
.field-input:focus {
  outline: none;
  border-bottom: 3px solid $main-blue-800;
}

