.inline-header  {
  display: flex;
  align-items: center;
}

.inline-header h2 {
  font-size: 3.5em;
  margin: 0 auto;
  color: #636465;
}


#sign_in_form {
  margin-top: 10em;
}

.fogotten-password a {
  text-decoration:none;
  color:#636465;
  font-size:2em;
}
